<form [formGroup]="registerForm" (ngSubmit)="handleRegister()">
    <mat-card class="form-card" style="background-color: var(--background-secondary-color)">
        <mat-card-header class="form-title">
            <mat-card-title>{{alertMessage}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>

            <i style="color: tomato" *ngIf="registerForm.controls['name'].invalid && (registerForm.controls['name'].dirty
                || registerForm.controls['name'].touched)"> Name is required and must contain from 3 to 20 symbols</i>
            <mat-form-field class="form-label" appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput required class=" bigger-label" formControlName="name">
            </mat-form-field>

            <i style="color: tomato" *ngIf="registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty
                || registerForm.controls['email'].touched)"> Email is required and must be valid</i>
            <mat-form-field class="form-label " appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput required class=" bigger-label" formControlName="email">
            </mat-form-field>

            <i style="color: tomato" *ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty
                || registerForm.controls['password'].touched)"> Password is required and must contain from 8 to 20 symbols</i>
            <mat-form-field class="form-label" appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" class=" bigger-label">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <mat-card-actions>
                <button mat-raised-button class="btn form-btn" style="background: var(--login-btn)" [disabled]="registerForm.invalid" >Register <i class="bi bi-send-arrow-up"></i></button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
</form>

