div {
    position: relative;
}

.bi {
    position: absolute;
    top: 2px;
    right: 2px;
    color: white;

}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background-color: transparent;
}
